header{
    padding: 0 20px;
}
.header-functionality-entry.open-search-popup{
    display: inherit;
}
.ytc_video_container {
    padding: 10px;
}

.search-field{
    margin-right: 45px;
    border-right: inherit;
}

.donation-wrapper {
    padding: 30px;
    background-color: #3A3A3A;
    color: #fff;
    font-family: Verdana;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.sidebar-navigation.donation {
    border: none;
}

.sidebar-navigation.videotheque {
    margin-bottom: 0;
}

.simple-drop-down {
    width: auto;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.payment_box p {
    line-height: 24px;
    margin-bottom: 23px;
}

.payment_box ul li {
    line-height: 30px;
    padding: 15px 30px;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 6px 12px;
    vertical-align: middle;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods{
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
}

.traditional-cart-entry .price{
    margin-bottom: 10px;
}

.tabs-container.style-1 .tab-switcher{
    width: 100%;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
}

.tabs-container.style-1 .tab-switcher:hover{
    background: #f0f0f0;
}

.tabs-entry.myaccount {
    border-top: 1px #e6e6e6 solid !important;
}

.logo-wrapper a img{
    height: 100px;
    width: 100px;
}